body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 50%;
    margin: 80px auto;
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #38bdf8;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}
.output-box {
    margin-top: 20px;
    background: #020617;
    padding: 15px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
}
